body{
    display: grid;
    place-items: center;
    background: rgb(161, 141, 180);
    position: absolute;
    width: 100%;
    height: 100%;
}
.container{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
.container form{
    display:  flex;
    flex-direction: column;
    border: 2px solid orangered;
    color: white;
    font-family: sans-serif;
    font-size: 18px;

}
label{
    margin: 5px;
    font-family: sans-serif;
}
label input{
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: rgb(248, 4, 4);
    border-bottom: 2px solid  blue;
    outline: none;
    width: 100%;
    font-size: 18px;
}
#response{
    color: white;
}
.sucess-register{
    display: flex;
    flex-direction: column;
}
a{
    background: white;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}
button{
    font-size: 20px;
    padding: 5px;
    background-color: orangered;
    color: white;
}